[Unit]
Description=SQLLED
After=multi-user.target
After=dev-gpiomem.device
After=svxlink.service
Requires=svxlink.service

[Service]
Type=simple
ExecStart=/usr/local/bin/repeater/sqlled
User=root
Group=root
#StandardOutput=append:/var/log/sqlled.log
#StandardError=append:/var/log/sqlled_error.log

[Install]
WantedBy=multi-user.target

